# Google Gemini API Key
# Get your key at: https://aistudio.google.com/app/apikey
VITE_GEMINI_API_KEY=AIzaSyCZy0RZjjhw-FFUAuVybJyZ0gPX7raTFxY
# Local App URL (Standard Vite port)
APP_URL=http://localhost:3000

# Resend API Key for sending emails
RESEND_API_KEY=re_JiYDTG5J_Am8Afm16tgk8ofPPhyhW3ZNB
